.footer__buscador{
    background: #2c2e3a;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0;
    h3{
        font-size: 2em;
        padding: 0;
        margin: 0 0 1em;
    }
}
.footer__cont_buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 90%;
    max-width: 700px;
    height: 100px;

    & *{
        margin: .5em;
    }
    input[type='text']{
        height: 30px;
        max-width: 350px;
        width: 100%;
        &:focus{
            outline:none;
        }
    }
    input[type="button"]{
        height: 35px;
        width: 100px;
        cursor: pointer;
    }
}
.footer__cont{
    background: #e8ecef;
    color: #58abb7;
    padding: 2em 10%;
    display: flex;
    justify-content: space-between;
    a, span{
        color: #2c2e3a;
        cursor: pointer;
        transition: all .3s ease;
        word-break: break-all;
        &:hover{
            color: #58abb7;
        }
    }
}
ul.footer__menu{
    list-style: none;
    li{
        margin-bottom: 15px;
        margin-left: 1em;
    }
}
.footer__index{
    i{
        color: #ff7070;
    }
}
.footer__menu_submenu{
    padding: 0 0 0 2em;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;
}
.action__footer_menu{
    padding: 1em 0 0 1em;
    max-height: 300px;
}
.cont_redes{
    font-size: 2em;
    margin: 0 0 0 1em;
    i{
        margin: 0 0 0 .8em;
    }
}
.footer__cont_derechos{
    background: #e8ecef;
    color: #2c2e3a;
    padding: .2em 10%;
    border-top: 1px solid #d3d4db;
    display: flex;
    justify-content: space-between;
    p{
        font-size: 12px;
        padding: 1em 0;
        a{
            color: #58abb7;
        }
    }
}
.footer__col{
    h3{
        margin-bottom: .5em;
    }
}
@media screen and (max-width: 700px){
    .footer__cont{
        flex-direction: column;
    }
}